.title {
  color: #02ccba;
}

.body{
  height:3200px;
  width:800px;
}

.header{
  height:70px;
  width:800px;
  background-color:gray;
}

.profile img{
  width:120px;
  height:140px;
  transform:rotate(90deg);
  margin:-40px 0 0 40px;
}

.header h1{
  font-size:40px;
  margin-bottom:0;
  color:white;
}

.list {
  margin-top:0px;
}

.contents{
  background-image:url(background.png) ;
  opacity:0.9;
  background-size:cover;
  width:800px;
  height:720px;
}

.profile h1{
  font-size:30px;
}

.quizu{
  margin-top:30px;
}

.icon img{

  width:100%;
}

.neko{
  transform:rotate(90deg);
}

.okimono{
  transform:rotate(90deg);
}

.sake{
  height:160px;
  margin-top:-40px;
}

.sake-logo{
  margin-top:-20px;
  position:absolute;
  top:95px;
  left:70px;
}

.quizu p{
  margin-top:-30px;
}

.quizu h1{
  border-bottom:20px solid glay;
}

.quizu h2{
 font-weight:normal;
}

.icons{
  width:500px;
  margin-top:60px;
}

.icon{
  width:33%;
  float:left;
  height:50px;
  position:relative;
}

.icon p{
  margin-top:40px;
  text-align:center;
}

.footer{
  height:200px;
  width:800px;
  background-color:gray;
}

.footer h1{
  color:white;
  font-size:25px;
  margin-top:20px;
  margin-left:5px;
}

.contact-form{
  margin-left:15px;

}

.contact-form p{
 margin-bottom:3px;
}


.contact-form textarea{
 width:300px;
 height:40px;
}

.btn{
  width:40px;
  background-color:pink;
  margin-left:15px;
  padding-bottom:-20px;
  box-shadow:0 5px darkgray;
}

.btn:active{
 position:relative;
 top:5px;
 box-shadow:none;

}
